{
  "root": true,
	"env": {
		"node": true,
    "es6": true,
    "browser": true
	},
	"globals": {
    "modules": true,
    "dom": true,
    "css": true,
    "site": true,
    "renderer": true
  },
  "parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"rules": {
		"no-console": "off"
	}
}
